<p id='status'></p>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('update', function (data) {
    console.log(data);
    document.getElementById("status").innerHTML=data;
  });
</script>